.card {
  margin: 40px auto;
  padding: 60px 40px;
  width: 80%;
  max-width: 900px;

  text-align: center;
  border-radius: 20px;
  font-weight: bold;
}

/* 로그인 필요 */
.warning {
  background-color: #fff1f1;
  border: 2px solid #ff9a9a;
  color: #d32f2f;
}

/* 로그인 성공 */
.success {
  background-color: #f1fff4;
  border: 2px solid #8ddfa4;
  color: #2e7d32;
}

.card h1 {
  font-size: 40px;
}
